---
title: Writings
layout: default
permalink: /writings/
---

<p> Just click a gif! </p>

<div class="container">
  <div class="row">
    <div id="feed">
      <!-- This loops through the paginated posts -->
      {% for post in site.posts %}
      <span class="four columns">
        <a href="{{ post.url }}">
          <img class="featuredimg" src="/assets/img/{{ post.image }}">
          <h2>{{ post.title }}</h2>
        </a>
      </span>
      {% endfor %}
    </div>
  </div>
</div>
