<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="...">
    <meta name="author" content="S1MB10T3">
    <meta name="theme-color" content="#e7e7e7">
    <link rel="icon" sizes="192x192" href="{{ site.baseurl }}/assets/img/profile.jpg">

    <title>{{ page.title }}</title>

    <link href="{{ site.baseurl }}/assets/css/normalize.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">

    <script>
    function goBack() {
        window.history.back();
    }
    </script>
  </head>
