---
title: cozy.nyc
layout: project
logo: cozy.png
slug: cozy
image: cozy.gif
order: 1
tagline: A site for neets...
---
<link href="index.css" rel="stylesheet">

<section id="1">
  <div class="left">
    <h2> It's something... </h2>
    <p>
      cozy.nyc is a ongoing project <a href="https://github.com/JimenezJC">Juan Jimenez</a>,
      <a href="https://github.com/nobodyhere2see">Sophia Setsu</a>, and I are working on.
      The site was originally intended to be an online buying and selling marketplace,
      but its purpose has changed over time to be a platform for creatives, makers,
      and fans alike to discuss and share creative projects.

      <br />
      <br />

      We currently are working on the discussion board aspect of the site, a video
      streaming directory, and a featured works area where users can post updates
      for ongoing and finished projects.
    </p>
  </div>
  <div class="right">
    <h2>Free and Open Source</h2>
    <p>
      cozy.nyc is under the GPL license, thus feel free to use our project files
      for your own needs and/or help us out..
    </p>
    <h3>Links</h3>
    <span style="text-align: center;">
      <p>Live Site (Alpha) - <a href="https://cozy.nyc">cozy.nyc</a></p>
      <p>Frontend Repo - <a href="https://github.com/cozy-nyc/cozy-nyc">Github</a></p>
      <p>Backend Repo - <a href="https://github.com/cozy-nyc/cozy-api">Github</a></p>
    </span>
  </div>
</section>

<h1> Brand Design </h1>

<br />

<section id="2">
  <div>
    <img src="{{ site.baseurl }}/assets/img/cozy/text.png" alt="text-logo" />
  </div>
  <div class="left">
    <h2>Stay Cozy...</h2>
    <p>
      Why the name "cozy?" When we first started on the project (back when we
      planned it to be am e-commerce site), A$AP Mob's *Cozy Tapes* just came out.
    </p>
  </div>
  <div class="right">
    <h2>Font - Dosis</h2>
    <p>
      Why Dosis? Dosis is a rounded, san-serif font. When considering how to give
      the site a warm, playful atmosphere, Dosis Extra Bold fits well and matches
      other design elements like our logo.
    </p>
  </div>
</section>

<section id="3">
  <h2> Logo - Cubes </h2>
  <p> Designed by <a href="https://byronkim.myportfolio.com/">Byron Kim</a> </p>
  <div class="left">
    <img src="{{ site.baseurl }}/assets/img/cozy/cube.svg" alt="box-logo">
  </div>
  <div class="right">
    <p>
      Why a cube? We wanted to have a logo that could be converted to a physical
      object, and a cube is a versatile and simple shape to reproduce using other
      media.

      <br />
      <br />

      The "C" on the side of the cube is a play on the fact that cozy's content
      is consumed on digital boxes like computer monitors and phones.
    </p>
  </div>
</section>

<section id="4">
  <h2>Colors</h2>
  <div class="left">
    <p>
      We chose pastel colors with a retro vibe for a comfortable, warm, and nostalgic
      feeling. Colors change across the site according to section--for streams,
      we chose an orange-based peach; for boards, we chose blues, and for works,
      we chose minty greens. The theme defaults to bright pinks for other pages.
      Cream and dark gray are used for foreground and background colors across the
      site.
    </p>
  </div>
  <div class="right">
    <img src="{{ site.baseurl }}/assets/img/cozy/color-scheme-cube.svg" alt="color-scheme-cube">
  </div>
  <img src="{{ site.baseurl }}/assets/img/cozy/color-scheme.png" alt="color-scheme">

</section>



<div class="u-cf" />

<h1> Website Design </h1>
<br/>

<section id="6">
  <h2>Home</h2>
  <div class="left">
    <img src="{{ site.baseurl }}/assets/img/cozy/designs/Home Page.png" alt="color-cube">
  </div>
  <div class="right">
    <p>
      The home page showcases popular and trending content across the site..
      <br />
      <br />
      A goal for the home page is to display a featured event on the front page as
      as a full screen background.
    </p>
  </div>
</section>

<section id="7">
  <h2>Boards</h2>
  <div class="left">
    <p>
      An image-centered discussion board where users can create threads to discuss
      topics pertinent to the site's goals of fostering creativity and collaboration,
      whether it be music, film, or even science and technology.
      <br />
      <br />
      The goal behind the layout is to recreate a bulletin board. Structure-wise,
      boards is centered around a set of categories users can create topics in.
      Threads in a board are ordered by recent activity. Post in the thread are
      ordered by creation.
    </p>
    <br/>
    <img src="{{ site.baseurl }}/assets/img/cozy/designs/BoardThreads.png" alt="color-cube">
    <h3>Catagory Page</h3>
  </div>
  <div class="right">
    <img src="{{ site.baseurl }}/assets/img/cozy/designs/BoardsHome.png" alt="color-cube">
    <h3>Boards Home Page</h3>

    <img src="{{ site.baseurl }}/assets/img/cozy/designs/Thread.png" alt="color-cube">
    <h3>Thread Page</h3>
  </div>
  <div class="u-cf" />
</section>

<section id="8">
  <h2>Streams</h2>
  <div class="left">
    <img src="{{ site.baseurl }}/assets/img/cozy/designs/Stream Directory.png" alt="color-cube">
    <h3>Steams Home</h3>
    <img src="{{ site.baseurl }}/assets/img/cozy/designs/Stream.png" alt="color-cube">
    <h3>Steam Page</h3>
  </div>
  <div class="right">
    <p>
      Users can post livestreams from websites like Twitch, Youtube, and Instagram
      to the directory and invite other users to the streaming platform's chat.
      <br/>
      <br/>
      The goal is to have a community that can watch and discuss videos and streams
      together as they're happening, without having to move around different websites.
    </p>
  </div>
</section>

<section id="9">
  <h2>Works</h2>
  <p>Still in the works... :P</p>
  <div class="left">
    <p>
      The works section's purpose is to allow makers, creatives, researchers, and
      everyone in between to share projects in a range of formats--be auditory,
      visual, or textual.
      <br />
      <br />
      We hope to create an engaging form of content navigation based on a city map,
      as well as an additional list feed for accessibility. Users choose an empty
      block on the map to post their projects. Then, they can upload or link their
      work with some additional information--a blurb to explain their vision or
      the type of feedback they seek, as well as information about other users
      who worked on the project. Finally, each posting will allow for other users
      to post comments to give constructive feedback.
    </p>
  </div>
  <div class="right">

  </div>
</section>

<section>
  <h2>Wireframes</h2>
  <img src="{{ site.baseurl }}/assets/img/cozy/wireframes/cozy_wireframe.png" alt="color-cube">
</section>
