@import url('https://fonts.googleapis.com/css?family=Courier+Prime|VT323&display=swap');

html {
	cursor: crosshair;
	font-family: 'Courier Prime', monospace;
	color: #000;
}

body {
  text-align: center;
	margin: 0;
}

a, a:visited {
	cursor: crosshair;
  color: #0000EE;
  text-decoration: none;
	-webkit-transition: color 0.33s;
	transition: color 0.33s;
}

a:hover {
	color: #b0129b;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'VT323', monospace;
}

img {
    max-width: 100%;
    max-height: 100%;
		object-fit: cover;
}

p img {
	width: 60%;
}

header {
	padding-bottom: 20px;
}

br {
   display: block;
   margin: 10px 0;
	 line-height:22px;
}

/* Home Page */
nav a {
	padding: 0 5px;
}

section::after, .u-cf {
  content: "";
  display: table;
  clear: both; }

/* Project Page */
.projectTitle{
	display: block;
}

#headerMedia {
	max-width: 60%;
	max-height: 400px;
}

.feed {
	margin-top: 40px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.block {
	display: flex;
	width: 480px;
	height: 480px;
	justify-content: center;
	align-items: center;
}

.featuredimg {
	width: 400px;
	height: 400px;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	-webkit-transition: filter 0.33s;
	transition: filter 0.33s;
	overflow: hidden;
	margin: auto;
}

.featuredimg:hover {
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
	filter: grayscale(0%);
}

#message {

}

.interviewImage {
	padding: 50px;
	width: 70%;
}

#content {
	padding: 0 5%;
	max-width: 960px;
	margin: 0 auto;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


footer {
	margin-top: 50px;
	padding: 20px;
}

.left {
  float: left;
  width: 50%;
  overflow: hidden;
	text-align: left;
	padding: 20px;
}

.right {
  overflow: hidden;
	text-align: left;
	padding: 20px;
}

@media only screen and (max-width: 1080px)  {
	.feed {
		justify-content: center;
	}

	.left,.right {
		float: none;
		text-align: center;
		width: 100%;
	}
}



/*
	Art Layout Page Styles
*/
.gallery {
  columns: 2;
	column-gap: 5px;
}

.gallery img {
	display: inline-block;
	width: 100%;
}

@media only screen and (max-width: 1080px)  {
	.gallery {
	   columns: 1;
	}
}
