---
layout: art
title: "Tifknits"
image: 404.gif
slug: "tiffnits"
order: 3
---

Designs for <a href="https://www.instagram.com/tifknits/">Tifknits</a>

<span>
{% include svg/tiff/Apples.svg %}
</span>

<span>
{% include svg/tiff/LemonGirl.svg %}
</span>

<span>
{% include svg/tiff/RisingStar.svg %}
</span>
