---
layout: blank
title: Project Icarus
---

<script src="https://aframe.io/releases/0.6.1/aframe.min.js"></script>
<script src="https://jeromeetienne.github.io/AR.js/aframe/build/aframe-ar.js"></script>

<body style="margin : 0px; overflow: hidden;">
  <a-scene embedded arjs="sourceType: webcam;">
      <a-marker preset="hiro">
          <a-entity
            position="0 0 0 "
            rotation="-25 0 0"
            scale="0.5 0.5 0.5"
            obj-model="obj: url(https://raw.githubusercontent.com/S1MB10T3/S1MB10T3.github.io/master/icarus/models/city.obj);
            mtl: url(https://raw.githubusercontent.com/S1MB10T3/S1MB10T3.github.io/master/icarus/models/city.mtl)">
            <a-entity light="type: directional; color: #fff; intensity: 10.5" position="0 7 0 " rotation="0 -180 0"></a-entity>
          </a-entity>

      </a-marker>
  <a-entity camera>
  </a-entity>
  </a-scene>
</body>
