{% include head.html %}
<script>
function goBack() {
    window.history.back();
}
</script>

<body>
  <div class="row">
    <div id="header">
      <nav  class="intro-nav navtext">
        <a onclick="goBack()">>back</a>
      </nav>
      <br />
      <h1>{{ page.title }}</h1>
    </div>
  </div>
  <div class="row">
    <div id="content">
      <article id="message">
        {{ content }}
      </article>
    </div>
  </div>
</body>

</html>
