<!DOCTYPE html>
<html>
{% include head.html %}

<body>

  <header>
    <nav class="intro-nav navtext">
      <a onclick="goBack()">>back</a>
    </nav>
    <h1 class="headertext anim-typewriter">{{ page.title }}</h1>
  </header>
  <div id="content">
    {{ content }}
  </div>
</body>

</html>
