<!DOCTYPE html>
<html>
  {% include head.html %}
<body>
  <div id="header">
    <nav class="intro-nav navtext">
      <a onclick="goBack()">>back</a>
    </nav>
    <img id="headerMedia" class="headerimg" src="/assets/img/{{ page.logo }}">
    <p id="tag"> {{ page.tagline }} </p>
  </div>
  <div id="content">
    <article id="message">
      {{ content }}
    </article>
  </div>
</body>
</html>
